
<footer class="footer sticky-bottom">



    <div class="container">

      <!--foote_bottom_ul_amrc ends here-->
      <p class="text-center">جميع الحقوق محفوظة
         <a href="http://bethlehemgov.ps"> لمحافظة بيت لحم</a> &copy; {{currentYear}} </p>

      <ul class="social_footer_ul">
        <li><a href="https://www.facebook.com/Bethlehem.Governorate" target="_blank"><i class="fab fa-facebook"></i></a></li>
        <li><a href="#" target="_blank"><i class="fab fa-youtube"></i></a></li>
        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
        <li><a href="#" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
      </ul>
      <!--social_footer_ul ends here-->
    </div>

  </footer>
