<section>
  <div>

    <div class="container">

      <div class="row">
        <div class="col-md-6">
          <div class="block">
            <div class="block-heading">
              <h2>فيديو</h2>
            </div>
          </div>
          <iframe id="ytplayer" type="text/html" width="100%" height="360"
            src="https://www.youtube.com/embed/GapxFG5Ny8w?playlist=DyksyCi0US8,pqVxRruKg1A&version=3" frameborder="0"
            allowfullscreen> </iframe>

        </div>

        <div class="col-md-6">


          <div class="block">
            <div class="block-heading">
              <h2>السياحة</h2>
            </div>
          </div><div class="row text-center">
            <div class="col-sm-6 col-md-6">
              <a routerLink="/tourism/hotels">
                <i class='fas fa-hotel fa-5x rounded-circle'></i>
                <h5>أماكن إقامة </h5>
              </a>
            </div>
            <div class="col-sm-6 col-md-6">
              <a routerLink="/tourism/places">
                <i class='fa fa-location-arrow fa-5x rounded-circle'></i>
                <h5>أماكن زيارة </h5>
              </a>
            </div>
          </div>
         <!--  <div class="row" style="height: 100px;"></div> -->
          <div class="row text-center">
            <div class="col-sm-12 col-md-12">
              <a routerLink="/tourism/statistics">
                <i class='fa fa-signal fa-5x rounded-circle'></i>
                <h5>الواقع السياحي</h5>
              </a>
            </div>

          </div>
          <div class="row text-center">
            <div class="col-sm-6 col-md-6">
              <a routerLink="/tourism/restaurants">
                <i class='fa fa-spoon fa-5x rounded-circle'></i>
                <h5>مطاعم</h5>
              </a>
            </div>
            <div class="col-sm-6 col-md-6">
              <a routerLink="/tourism/gifts">
                <i class="fa fa-gift fa-5x rounded-circle"></i>
                <h5>هدايا من بيت لحم</h5>
              </a>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>
