

<div class="features" style="background-color:#fff; direction:rtl;">

  <div class="container">

    <hr class="solid">

    <div class="row text-center">

      <div class="col-sm-6 col-md-3">
        <a routerLink="/decisions">

          <i class="fa fa-stack-overflow fa-5x rounded-circle"></i>

          <h5>قرارات المحافظ</h5>
        </a>
      </div>

      <div class="col-sm-6 col-md-3">
        <a routerLink="/guide">
          <i class='fa fa-book fa-5x rounded-circle'></i>
          <h5>دليل خدمات المواطن</h5>
        </a>
      </div>

      <div class="col-sm-6 col-md-3">
        <a routerLink="/publications">
          <i class='fa fa-cog fa-5x rounded-circle'></i>
          <h5>إصدارات المحافظة </h5>
        </a>
      </div>

      <div class="col-sm-6 col-md-3">
        <a routerLink="/agreements">
          <i class='fa fa-archive fa-5x rounded-circle'></i>
          <h5>اتفاقيات وتوأمات</h5>
        </a>
      </div>

    </div>

  </div>

</div>
