ul li {
  font-family: "Cairo", sans-serif;

}

.d-flex {
  display: flex !important;
}

.header-area .header-top .header-info-right .header-social li {
  display: inline-block
}

.header-area .header-top .header-info-right .header-social li a {
  color: #fff;
  font-size: 13px;
  padding-left: 17px
}

.header-area .header-top .header-info-right .header-social li a:hover {
  color: #fc3f00
}

.header-area .header-top .header-info-right .header-social a i {
  -webkit-transition: all .4s ease-out 0s;
  -moz-transition: all .4s ease-out 0s;
  -ms-transition: all .4s ease-out 0s;
  -o-transition: all .4s ease-out 0s;
  transition: all .4s ease-out 0s;
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg)
}

.header-area .header-top .header-info-right .header-social a:hover i {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg)
}

.align-items-center {
  align-items: center !important;
}

.header-top, .header-area, .main-header, .container {
  background-color: #263238;
}


/*
.container {
  margin-top: 0px;
  margin-bottom: 0px;
} */

ul {
  margin-top: 0px;
  margin-bottom: 0px;
}
