<div class="header-area">
  <div class="main-header">
    <div class="header-bottom header-sticky">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-xl-10 header-flex">
                  <!-- sticky -->
                      <div class="sticky-logo">
                          <a routerLink="/home">
                            <img
                              src="assets/img/logo/logo.png"
                              alt="محافظة بيت لحم"
                              height="100"
                              width="100">
                          </a>
                      </div>
                  <!-- Main-menu -->
                  <div class="main-menu d-none d-md-block font-weight-600">
                      <nav>
                          <ul id="navigation">
                              <li><a routerLink="/">الرئيسية</a></li>
                              <li><a>من نحن</a>
                                <ul class="submenu">
                                  <li><a routerLink="/governorWord">كلمة المحافظ </a></li>
                                  <li><a routerLink="/message">رسالة المحافظة</a></li>
                                  <li><a routerLink="/goals">الأهداف  الاستراتيجية </a></li>
                                  <li><a routerLink="/vision">رؤية المحافظة </a></li>
                                  <li><a routerLink="/structure">هيكلية المحافظة </a></li>
                                  <li><a routerLink="/about">حول محافظة بيت لحم</a></li>
                                </ul>
                              </li>

                              <li><a routerLink="/activities">أنشطة وفعاليات</a></li>
                              <li><a routerLink="/projects">مشاريع المحافظة</a></li>
                              <li><a>الخدمات الإلكترونية</a>
                                <ul class="submenu">
                                    <li><a routerLink="/rules">التعميمات والقوانين</a></li>
                                    <li><a routerLink="/electronicGuide">الدليل الإلكتروني</a></li>
                                </ul>
                              </li>
                              <li><a routerLink="/complaint">تقديم شكوى</a></li>
                          </ul>
                      </nav>
                  </div>
              </div>
              <div class="col-xl-2 col-lg-2 col-md-4">
                  <div class="header-right-btn f-right d-none d-lg-block">
                      <i class="fa fa-search special-tag"></i>
                      <div class="search-box">
                          <form action="#">
                              <input type="text" placeholder="Search">
                          </form>
                      </div>
                  </div>
              </div>
              <div class="col-12">
                <div class="mobile_menu d-block d-md-none">
                </div>
              </div>
              <!-- Mobile Menu -->
             <!--  <div class="col-12">
                  <div class="mobile_menu d-block d-md-none">
                    <nav>
                      <ul id="navigation">
                          <li><a href="index.html">من نحن</a>
                            <ul class="submenu">
                              <li><a href="#">محافظة بيت لحم </a></li>
                              <li><a href="#">رسالة المحافظة</a></li>
                              <li><a href="#">رؤية المحافظة </a></li>
                            </ul>
                          </li>
                          <li><a href="#">كلمة المحافظ </a></li>
                          <li><a href="#">هيكلية المحافظة </a></li>
                          <li><a href="#">الأهداف  الاستراتيجية </a></li>
                          <li><a href="#">الخدمات الإلكترونية</a>
                              <ul class="submenu">
                                  <li><a href="#">بوابة الموظف</a></li>
                                  <li><a href="#">نظام التراخيص</a></li>
                                  <li><a href="#">تقديم شكوى</a></li>
                              </ul>
                          </li>
                          <li><a href="#">اتصل بنا</a></li>
                      </ul>
                    </nav>
                  </div>
              </div> -->
          </div>
      </div>
    </div>
  </div>
</div>
